@import "./vars";

.canvas {
  background-color: $page-background;
  height: 100%;
  padding-top: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  canvas {
    background-color: $light;
    border: 1px solid $dark;
  }
}