@import "./vars";
@import "./placeholders";

.settingsbar {
  position: relative;
  @extend %bar;
  &__list {
    @extend %list;
  }
  &__label {
    display: flex;
    column-gap: 10px;
    align-items: center;
  }
}
