@import "./vars";

.toolbar {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  box-shadow:0px 0px 5px black;
  &__list {
    display: flex;
    align-items: center;
    column-gap: 20px;
  }
}
